build/
.vscode/
out/
.cache/
cmake-build-debug/
cmake-build-release/
.idea/
.vs/
.cache/
.build-*/
checks.json
vcpkg.json
portfile.cmake
*.pyc
*.pyd
__pycache__/
bindings/python/libgossip.egg-info/
bindings/python/dist/
*.whl
*.o
*.so
*.dll